{% extends 'base_htmls/dashboard_layout.html' %}
{% block render_body %}
    

        <!-- Main content -->
        <section class="content">
          {% for result in resultSet.separateData %}
          <!-- Main row -->
          <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">{{result.profileName}} </h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <!-- BAR CHART -->
              
                  <div class="chart">
                    <canvas id="controller_bar_chart_{{loop.index0}}" style="height:500px"></canvas>
                  </div>
                
            </div>
            <div class="col-md-5 col-sm-12">
              <div id="over_all_controller_table">
                
                  <table id="controller_table_{{loop.index0}}" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr>
                      {% for col in result.colHeader %}
                        <th>{{col}}</th>
                      {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for colArr in result.rows %}
                      <tr>
                        {% for col in colArr %}
                        <td>{{col}}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                      {% for col in result.colHeader %}
                        <th>{{col}}</th>
                      {% endfor %}
                      </tr>
                    </tfoot>
                  </table>
                  
                                
              </div>
            </div>
          </div>
          </div><!-- /.box-body -->
              </div><!-- /.box -->
          <script type="text/javascript">
    $(document).ready(function(){
      
      

      //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $("#controller_bar_chart_{{loop.index0}}").get(0).getContext("2d");
        var barChart = new Chart(barChartCanvas);
        var dtta = {{result.rows|safe}};
        var barChartData = {
          labels: $.map(dtta,function(e,i){ return e[0]; }),
          datasets: [
            {
              label: "Electronics",
              fillColor: "rgba(210, 214, 222, 1)",
              strokeColor: "rgba(210, 214, 222, 1)",
              pointColor: "rgba(210, 214, 222, 1)",
              pointStrokeColor: "#c1c7d1",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: $.map(dtta,function(e,i){ return e[1]; })
            },
            {
              label: "Digital Goods",
              fillColor: "rgba(60,141,188,0.9)",
              strokeColor: "rgba(60,141,188,0.8)",
              pointColor: "#3b8bba",
              pointStrokeColor: "rgba(60,141,188,1)",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(60,141,188,1)",
              data: $.map(dtta,function(e,i){ return e[2]; })
            }
          ]
        };
        barChartData.datasets[1].fillColor = "#00a65a";
        barChartData.datasets[1].strokeColor = "#00a65a";
        barChartData.datasets[1].pointColor = "#00a65a";
        var barChartOptions = {
          //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
          scaleBeginAtZero: true,
          //Boolean - Whether grid lines are shown across the chart
          scaleShowGridLines: true,
          //String - Colour of the grid lines
          scaleGridLineColor: "rgba(0,0,0,.05)",
          //Number - Width of the grid lines
          scaleGridLineWidth: 1,
          //Boolean - Whether to show horizontal lines (except X axis)
          scaleShowHorizontalLines: true,
          //Boolean - Whether to show vertical lines (except Y axis)
          scaleShowVerticalLines: true,
          //Boolean - If there is a stroke on each bar
          barShowStroke: true,
          //Number - Pixel width of the bar stroke
          barStrokeWidth: 2,
          //Number - Spacing between each of the X value sets
          barValueSpacing: 5,
          //Number - Spacing between data sets within X values
          barDatasetSpacing: 1,
          
          //Boolean - whether to make the chart responsive
          responsive: true,
          maintainAspectRatio: true
        };

        barChartOptions.datasetFill = false;
        barChart.Bar(barChartData, barChartOptions);

    });
    </script>


          {% endfor %}
        </section><!-- /.content -->
      


{% endblock render_body %}

{% block render_js_files %}
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

    $.each($(".dataTable"),function(){
      $(this).DataTable({
        "dom": 'Bfrtip',
        "buttons": [{
          extend: 'excel',
          title: "'"+($(this).attr("excel-title")?$(this).attr("excel-title"):$(this).parents(".box").first().find(".box-title").text())+"'"
        }],
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  });
</script>
{% endblock render_js_files %}